[2019-02-19 09:03] EanKeen opened #1 "Missing `package.json` and `package-lock.json`"
I cannot contribute if I am unable to download the required dependencies. Does anyone have the `package.json` or `package-lock.json` in their project directories already?

Thanks, Edwin.

[2019-02-19 09:47] EanKeen commented on #1
Aaaand the `package.json` is located in the `src` directory, rather than at the root. Found it!

[2019-02-19 09:47] #1 closed

[2019-02-20 08:46] jusdepatate opened #5 "Linux build ?"
Discord is an electron app and supports Linux, so will you provide build for linux ?

[2019-02-20 16:10] leon332157 commented on #5
Yes indeed, infact, if you look at the title for the latest release (0.0.8), I added Linux release. But the build broke, and I have failed to release 0.0.9. So, expect new Linux release in 0.1.0 version. :wink:

[2019-02-24 20:51] #5 closed

[2019-02-26 03:27] noah427 opened #13 "We need search bar"
Add a search bar with a customizeable search engine, so I can search and code inside the app without using external browsers.

[2019-02-26 03:27] aStableNaka commented on #13
@noah427 could you explain what you mean? A search bar for *what*?

[2019-02-26 03:32] leon332157 opened #14 "Switching editors"
Currerent plan is to use UA to switch to mobile, so ACE editor can be used. Expected version 1.1.0

[2019-02-26 17:50] eankeen opened #15 "Better offline screen"
When offline it would be better to have some offline page show up rather than error. I'll post photograph soon.

<img src="https://user-images.githubusercontent.com/24364012/53458319-7cc61e80-39ea-11e9-83da-f2ab406b2d04.png" width="500px"></img>

[2019-02-28 14:00] wolfembers opened #18 "App crashes when opening any repl (Mac)"
Hello, I just updated to the latest version (1.0.2) and while the app opens fine, opening any repl instantly crashes the app.

Interestingly, it will _rarely_ open the repl without crashing, but returning to the "my repls" section and attempting to open another repl crashes the app. This behavior only occurs if I don't resize the window when I start the app. If I "fullscreen" the app (drag the cor

[2019-02-28 15:51] EanKeen commented on #18
Hi! Thank you for creating an issue! I don't have a Mac so I can't check it out at the moment, but @leon332157 does and can check it out this issue when ready.

[2019-02-28 16:01] EanKeen opened #19 "Constant Prompts asking to open link in an external window"
When simply opening the password and signing in with Google, the page becomes blank. However after opening a new subWindow, I can see my repls. I click on one and a popup appears with the title "Confirm External Link". It has the contents "about:blank Looks like an external link, would you like to load it externally?". This pops up about every few seconds and do not seem to disappear until exit th

[2019-02-28 16:05] leon332157 commented on #18
Hi thanks for reporting! Is there any visible errors u can see? If not could u please execute the executable in the terminal and post the console outputs?

[2019-02-28 16:06] leon332157 commented on #19
Roger that. The bug fix seems defective, needed to double check.

[2019-02-28 19:10] leon332157 commented on #18
Hi. I have successfully recreated the bug on a school computer. Sub Window works, but when I send the Sub Window into main window. The app freezes. Still trying to find out why.

[2019-02-28 20:19] wolfembers commented on #18
Hello, when I encounter this bug I see no visible errors. Just plain crashes. Also I have very little knowledge of terminal, mainly a windows guy, so I have no idea how to execute it from terminal.

[2019-02-28 21:10] leon332157 commented on #18
And Yes, I have also successfully re-created the bug on mac os. It seems to be a problem with electron itself.

[2019-03-01 13:54] wolfembers commented on #18
Thanks for investigating! I'll go ahead and close this and wait for the bug to be fixed.

[2019-03-01 13:54] #18 closed

[2019-03-02 04:25] leon332157 commented on #15
I think this error will be sufficent for now. If you would like to add this feature, please do so.

[2019-03-02 20:57] leon332157 commented on #19
Thank you, this has been fixed in #20

[2019-03-02 20:57] #19 closed

[2019-03-02 22:39] noah427 opened #21 "Add support for local file editing"

[2019-03-19 23:51] AllAwesome497 opened #26 "Submenu"
There is no submenu

[2019-03-20 05:02] leon332157 commented on #26
Fixed in version 1.1.0 with PR #25

[2019-03-20 05:03] #26 closed

[2019-03-20 05:03] leon332157 commented on #14
Done in #25

[2019-03-20 05:03] #14 closed

[2019-04-06 21:49] StarTrekRules commented on #13
I believe he means a browser window

[2019-04-15 00:00] StarTrekRules commented on #15
I may be able to implement such feature, What is an example of what this offline page should look like?
It could be like a remade offline version of repl.it obviously not as good but still.
Or it could just be a screen telling you about the error or that you need an internet connection.

[2019-04-15 00:03] leon332157 commented on #15
I'm not sure since I think an alert window is enough.

[2019-04-15 00:04] leon332157 commented on #15
@EanKeen What do u think

[2019-04-15 00:05] StarTrekRules commented on #15
@leon332157 Still, an offline primitive version of repl.it would be handy

[2019-04-15 00:06] EanKeen commented on #15
@StarTrekRules Hello! 👋

So I think we have two options we can go for. We can have something that looks similar to this

![image](https://user-images.githubusercontent.com/24364012/56101308-59dac580-5ed7-11e9-9954-eda1ffd602a1.png)
Where the red text could say something like "No connection error: You cannot connect to repl.it because you don't have a network connection"

On the other hand, we coul

[2019-04-15 00:10] StarTrekRules commented on #15
@EanKeen It would not need to look similar, it would just need to function offline but now that I think of it that idea may make it more platform specific depending on where things like compilers are on a given system, otherwise I believe the alert window provides a detailed explanation of what went wrong

[2019-04-15 00:13] EanKeen commented on #15
@StarTrekRules Why would this have anything to do with finding compilers on a given system whatsoever? If no connection can be made to repl.it, then we serve up this page. It's a more friendly user interface.

If we get to a point where the application finds compilers and tries to utilize them, we can modify the system accordingly. However, current planning for that seems excessive, as that doesn'

[2019-04-15 00:15] StarTrekRules commented on #15
@EanKeen I meant like, you can't connect to repl.it but you can use a primitive local interface instead until you get your internet back

[2019-04-15 00:16] StarTrekRules commented on #15
@EanKeen The connection page should also have a refresh button to avoid them having to restart the app or use the menu bar to refresh

[2019-04-15 00:17] leon332157 commented on #15
The currerent implementation is by using event, when the window fail to load, it will trigger the alert function. So if we are to design a offline page we can do that, the problem is how should that page look like. And yes I think a refresh button is a good idea.

[2019-04-15 15:55] EanKeen commented on #15
Yes, we can have a simple page that tells the user that no connection can be made. We can add a refresh button also. I'm thinking we can have a div horizontally and vertically centered. In that element, we can include a photograph depicting some typical 404 image. Under that, the message describing the connection problem, and buttons to refresh. Although, I think it would be better to just perform

[2019-05-30 11:19] leon332157 opened #35 "Security vulnerability in axios"
CVE-2019-10742 More information

high severity
Vulnerable versions: <= 0.18.0
Patched version: No fix
Axios up to and including 0.18.0 allows attackers to cause a denial of service (application crash) by continuing to accepting content after maxContentLength is exceeded.
According to GitHub

[2019-06-03 02:46] #35 closed

[2019-06-10 05:41] leon332157 opened #36 "app.getAppPath not locating the app properly"
Expected behavior:
in `src/electron-basic-updater/index.js:14` app.getAppPath should return `dist/dev` when running under developement env with command `electron dist/dev/main.bundle.js`

Actual behavior:
app.getAppPath returns electron default app path `/node_modules/electron/dist/Electron.app/Contents/Resources/default_app.asar/package.json` instead

possaible fix:
run electron with `electron di

[2019-06-10 05:43] eankeen commented on #36
Thanks! :) I pushed 08b9ab876d8402216d0a9a2e40b6bffaaa01dd34 as a quick fix. Does it work now?

Even if it does work, I think we should work towards a more permanent solution

[2019-06-10 05:45] leon332157 commented on #36
Not working since we still need a package.json file for electron to recognize the directory as an app.

[2019-06-10 05:48] leon332157 commented on #36
After copying a copy of package.json into dist/dev, the first issue is resolved, but the new issue is caused by requiring package.json

[2019-06-23 07:37] #36 closed

[2019-07-28 13:17] MoniS10 opened #73 "Make releases for Each System type"
Make a Release Pae Where you can download it for mac/windows and Linux. This makes it easier for the people that don't want to do the build process as mentioned in the README.md

[2019-07-28 13:18] MoniS10 commented on #73
Oops just saw you already did that

[2019-07-28 13:18] #73 closed

[2019-07-28 13:20] MoniS10 opened #74 "In app updater"
Uses Git Fetch and pull the changes in source code and it updates without having to install a new version

[2019-09-19 06:41] eankeen commented on #74
not exactly sure what you mean, but i think it would be good to keep app versions we distribute / package and app versions that are in development separate.

i dont see why you would need such a workflow for development, but we do have an updater that updates to the latest released version of the app. right now it may not be working, @leon332157 might be able to give more info on that

[2019-09-23 15:27] leon332157 commented on #74
It’s being worked on, closing for existing feature.

[2019-09-23 15:27] #74 closed

[2019-10-01 11:12] ArchieMaclean commented on #21
Has this been implemented yet? I may have a go ;)

[2019-10-01 15:50] ArchieMaclean opened #80 "src/launcher/main.ts doesn't exist"
`src/main/bootstrap.js` points to a non-existent file - `../launcher/main.ts`.

[2019-10-01 15:54] eankeen commented on #80
hey!

yeah that looks like a mistake, thanks for creating an issue!
i guess it seems that the `dev:main` and `dev:main:watch` npm run scripts will not work for now. ill work on a fix - should be up by the end of the day.

[2019-10-01 15:55] ArchieMaclean commented on #80
:+1:

[2019-10-01 20:04] leon332157 commented on #80
I'll try to fix it but I can gurantee since this is not how electron is supposed to work.

[2019-10-01 20:59] eankeen commented on #80
@ArchieMaclean hi! so ill close #80 for now because commit 533ff92a1daf8d9882124a5209922b8334c2a0d9 fixes this issue for me. let me know if you have any other problems :)

[2019-10-01 20:59] #80 closed

[2019-11-12 03:05] jeske opened #82 "enable github wiki - so we can assemble docs and notes?"
Can you enable the github wiki, so we can assemble some docs and notes?

In particular, I'd like some docs of:
- does code run 100% locally on electron?
- how does one use node-ffi or similar inside this IDE to load a native DLL?
- how does one package this repl-it electron container into something that launches the app first, but still has the repl.it dev IDE available?

[2019-11-13 19:46] CarlyRaeJepsenStan commented on #82
Hey there!  Thanks for asking.  Unfortunately, I'm not the owner of this repository, but I'll talk to the owner about enabling it.  Then we can add the pertinent wiki pages.

[2019-11-13 20:20] leon332157 commented on #82
Thanks, I have enabled wiki. This isn't really a local IDE of any sort, it's more like a web browser build with some extra functionalities.

[2019-11-14 04:35] jeske commented on #82
Thanks. Perhaps a "intent and capabilities" of the project would be a helpful addition to the README or wiki?

When people go looking for repl.it for electron, I doubt they are looking for a way just to run the web based repl.it inside of an electron container instead of a browser.. because what does that actually give you that you can't get out of making a chrome application shortcut?

I found th

[2019-11-14 13:43] leon332157 commented on #82
Thanks. This is the original plan for where the app is going is adding a local editor like the one on repl.it. But during the reconstruction process with Typescript we have some issues agreeing on the development build system within the collaborators. So the project is halted on development. I would appreciate if anyone could actually use my current build system to replicate my environment on thei

[2019-11-14 15:48] CarlyRaeJepsenStan commented on #82
I'm curious, what is the advantage in using typescript instead of javascript?

[2019-11-14 18:58] jeske commented on #82
Just to be clear, a local-editor is not what I'm talking about. Let me better articulate these two different ideas of what repl.it could do with Electron.

1) make a local version of repl.it IDE, that runs completely offline, for offline development. (involves rewriting lots of repl.it to run client side)

2) use the existing server-side repl.it, to enable development of client-side Electron apps

[2019-11-15 05:23] CarlyRaeJepsenStan commented on #82
Yes, one word answers are the most helpful.  -_-
At the moment, the new electron app dev team is probably going to build a separate text editor that runs replit "headless": it will just be a base editor, possibly based off of replit's web ui, and send code to the replit api for execution and display the result.  If (or when) the editor is offline, you will be able to continue using it like any nor

[2019-11-16 04:47] jeske commented on #82
On the topic of this issue and the wiki..

When I click on the Wiki tab, it doesn't go to the wiki.. Is it possible there is a wiki permission issue?

[2019-11-16 06:39] eankeen commented on #82
it looks like the wiki has not been enabled

so the wiki now has been created. i haven't been following this discussion too closely, but i tried to add the gist of it to the wiki

[2019-11-18 16:19] leon332157 commented on #82
I’m sorry for late reply but I still don’t quite get your point.
Are you talking about:
1. An IDE that can handle Electron app development.
2. An IDE that can package a repl into an app.

[2020-03-29 23:50] Warhawk947 opened #85 "App sometimes gives random syntax errors when writing code"
Sometimes there are random red lines under code that say *unexpected indent*, or *syntax error* that actual aren't true because when I restart the code, it will compile without trouble.

[2020-03-29 23:51] Warhawk947 commented on #21
i don't think so

[2020-03-29 23:54] NotMoni commented on #21
I would like to see this feature.

[2020-03-29 23:58] NotMoni commented on #85
Hey, @Warhawk947 Could you share us more info?

The most basic info required to debug are :
- Screenshot of it not working
- Steps to Reproduce the issue
- Your Operating System, and other system info.

This info helps the devs reproduce the issue on their local machine and it can be easier to fix this problem.

You said "Sometimes", so take your time and when it happens again, be sure to screensh

[2020-03-30 22:19] Warhawk947 commented on #85
nvm it fixed itself
sorry false alarm

[2020-03-30 22:19] Warhawk947 commented on #85
nvm it fixed itself
sorry false alarm

[2020-03-30 22:19] #85 closed

[2020-03-30 22:27] NotMoni commented on #85
Wow

[2020-03-30 23:12] RoylatGnail commented on #85
bruh

[2020-03-31 18:14] Warhawk947 commented on #85
lol sorry guys

[2020-03-31 20:18] NotMoni commented on #85
Still tho.

[2020-04-01 12:32] Warhawk947 commented on #21
yeah same

[2020-05-13 23:17] Codemonkey51 opened #86 "notification doesn't change the page"
clicking on a notification doesnt change the page 50% of the time

# reproduce:
goto 1 notification, reply to it then click antother and it wont work.

[video](https://streamable.com/k93vgw)

[2020-05-14 22:16] leon332157 commented on #86
Thanks for the issue report, the app is currently being reworked for version 2.0, hopefully it will be fixed in a newer version.

[2020-05-14 22:18] Codemonkey51 commented on #86
YAY

[2020-05-19 11:58] sugarfi opened #87 "No Icon on Linux"
On Linux (Ubuntu 20.04), the app has no taskbar icon.
![image](https://user-images.githubusercontent.com/45051954/82323775-8a2c4780-99a6-11ea-9473-c2cdd744f62a.png)

[2020-06-15 07:18] TheDrone7 opened #89 "Ace editor"
Please add the ace editor back again.

[2020-06-16 05:16] leon332157 commented on #87
Should be fixed in the new version.

[2020-06-16 05:16] #87 closed

[2020-06-16 05:17] leon332157 commented on #86
This has been fixed in the newer version.

[2020-06-16 05:17] #86 closed

[2020-06-16 16:22] Codemonkey51 commented on #86
YAY

[2020-06-17 10:13] AgeOfMarcus opened #90 "Add option to chose where to install. Eg a different drive"

[2020-06-22 03:44] leon332157 commented on #89
Addressed in the new version, thanks.

[2020-06-22 03:44] #89 closed

[2020-06-22 03:45] leon332157 commented on #90
Addressed the issue in the new version, make sure you use the same path when the app auto downloads a new version.

[2020-06-22 03:45] #90 closed

[2020-06-22 03:46] leon332157 commented on #15
Planned for 2.1.1

[2020-06-22 14:40] isuckatprogram opened #92 "Error with the name"
When i downloaded the windows version and tried to run it, it said this: Windows could not find the file and I think it was because the name has a space in it so I changed the name of the exe file to replit.exe and it worked. So basically I'm saying you need to remove the space in the name

[2020-06-22 14:52] isuckatprogram commented on #92
Nevermind, fixing the file to replit.exe didn't fix the issue

[2020-06-22 21:31] leon332157 commented on #92
Try downloading the file into the download folder and run it.

[2020-06-23 14:19] isuckatprogram commented on #92
Thats what I did

[2020-06-23 17:26] leon332157 commented on #92
Can you hopefully take a screenshot of the error? I would take a look.

[2020-06-24 16:56] isuckatprogram commented on #92
I can't reproduce anymore

[2020-06-24 16:56] #92 closed

[2020-06-28 13:53] NoraHanegan opened #93 "Please Disable Auto Updater for Linux Based Builds"
The package manager can get really confused and since the AUR package is now really screwed over i have to rewrite it.

[2021-02-02 23:34] #82 closed

[2021-02-02 23:34] #21 closed

[2021-02-02 23:35] #13 closed

[2021-02-02 23:35] leon332157 commented on #93
Will fix, thanks!

[2021-02-02 23:35] #93 closed

[2021-02-03 15:47] leon332157 opened #97 "Audo-Updater with beta supprt"
The current auto-updater works, but lacks testing and beta support.

[2021-02-03 15:51] frissyn opened #98 "Theming / Theming Market place"
We can add this to the `To-Do` list or whatever, but I'd like to see [Reflux Themes](https://github.com/frissyn/Reflux) be integrated into the app. Instead of bookmarklets, they can be options in a custom menu that you can pick and choose. Users should be able to add their own themes, and the theme should persist across sessions.

I'll work on this when you guys finish reworking the base structure

[2021-02-03 15:58] CoolCoderSJ commented on #98
I made this
https://reflux-marketplace.coolcodersj.repl.co/
idk if you guys wanna somehow integrate that

[2021-02-03 15:58] spotandjake opened #99 "Google Auth Does not Work"
Add Support for Google Authentification login via electron

[2021-02-03 16:09] frissyn commented on #98
@CoolCoderSJ ok thanks, I'll take a look

[2021-02-03 16:27] frissyn opened #100 "Update Discord RPC"
I'd like to add something similar to how the [un]official VSC plugin handles Discord RPC, with icons of the language you're currently coding in being the icon shows.

Also, there needs to be a way to detect is a REPL is private or not, so it doesn't show in the RPC.

I'll work on this when I can

[2021-02-03 17:55] JDOG787 commented on #98
Yea we should have a theme market place

[2021-02-03 17:56] JDOG787 commented on #98
And then have themes be built into the app more

[2021-02-03 19:12] frissyn commented on #98
Ok sure

[2021-02-03 20:17] spotandjake commented on #98
yes where you can import a normal reflux theme. and add to the market place it would be nice if the market place was availble online as well so that people can use the themes in both places.

[2021-02-03 20:19] spotandjake opened #102 "Multimonitor support"
Multi-monitor to have the console on one screen and the ide on another.

[2021-02-03 20:32] CoolCoderSJ commented on #98
the marketplace is available online, but u might wanna write a custom client for the api (That jdog and i are later gonna build) so that there's an install button

[2021-02-04 00:10] CoolCoderSJ commented on #100
https://github.com/vscode-icons/vscode-icons/tree/master/icons

(Vscode icons link for safekeeping)
I've also added the link in the todo board.

[2021-02-04 02:08] alanlichen opened #103 "Performance issue in monaco"
Usually, when using exports it is supposed to look like this:
![image](https://user-images.githubusercontent.com/40917647/106834650-b1b56400-664a-11eb-8fbd-0e33fd63607e.png)

Occationally, it looks like this:
![image](https://user-images.githubusercontent.com/40917647/106834618-a2ceb180-664a-11eb-9d3b-2aa7870215ba.png)

I also noticed that other parts were grey, but I did not take screenshots and

[2021-02-04 02:13] spotandjake commented on #103
only occurs on monaco editor also noted that monaco was giving bad performance but ace is fine

[2021-02-04 02:18] leon332157 commented on #103
It could be something to do with the Theme system, will look into it, thanks.

[2021-02-04 02:22] CoolCoderSJ commented on #103
Interesting...also should note that the icon is supposed to be white when viewing the file as this is what I see on the browser version of replit without any external themes
![image](https://user-images.githubusercontent.com/53063247/106835749-e4208a80-6665-11eb-9a73-7e3a2ba80956.png)

[2021-02-04 02:27] spotandjake commented on #103
might be how it tokenizes it. I think Monaco uses a background worker thread, to do the tokenization.

[2021-02-04 02:54] alanlichen commented on #103
Ace highlighting looks different for every export.
![image](https://user-images.githubusercontent.com/40917647/106838498-4622c500-6651-11eb-904e-ea4a61d10de9.png)
![image](https://user-images.githubusercontent.com/40917647/106838509-4b800f80-6651-11eb-8cde-d19403baaa2b.png)

[2021-02-04 02:56] spotandjake commented on #103
interesting will look at it can you verify the same thing does not happen on web

[2021-02-04 02:56] alanlichen commented on #103
Javascript :)

[2021-02-04 02:57] spotandjake commented on #103
interesting will look at it can you verify the same thing does not happen on web

[2021-02-04 02:57] spotandjake commented on #103
i will look into this tmr

[2021-02-04 03:02] CoolCoderSJ commented on #103
Interesting...the ` exports.run ` is always showing as blue in the monaco editor for me...

[2021-02-04 03:07] alanlichen commented on #103
I figured out the issue... I think.
When I add async to the function, it turns blue. When I remove async, it turns green/yellow. This happens on both the web version and editor.

Web version:
with async
![image](https://user-images.githubusercontent.com/40917647/106839321-d7df0200-6652-11eb-9934-43a43ec0889d.png)
without async
![image](https://user-images.githubusercontent.com/40917647/106839331-d

[2021-02-04 03:09] CoolCoderSJ commented on #103
This seems weird, but if its also happening on the web then its a replit issue and should go [here](https://repl.it/bugs).

@spotandjake can confirm, but since its also on the web this should probably be closed.

[2021-02-04 03:10] spotandjake commented on #103
It agree on the theming but I am gonna leave this open because the performance part is still a thing

[2021-02-04 03:11] alanlichen commented on #103
I just don't understand why it's blue on web but grey in the editor

[2021-02-04 03:12] alanlichen commented on #103
I'll just add on to that... Scrolling is extremely laggy, and when typing text sometimes it takes a few ms to show up. Also, when changing files, it takes around 5 seconds for syntax highlighting to update.

[2021-02-04 03:12] CoolCoderSJ commented on #103
ok...does it have to do with your device specs, though, @alanlichen ? Because both editors seem to be working at the same speed for me...are you trying the same repls or different ones? Perhaps the size of one of them is too big?

[2021-02-04 03:14] spotandjake commented on #103
They are working fine for me but I still see the performance slow

[2021-02-04 03:16] alanlichen commented on #103
Same repl, but ace editor seems to have a massive performance difference.
For now, I guess I will use ace editor :)

[2021-02-04 03:16] spotandjake commented on #103
Yah ace editor is way lighter lol but the monaco is better tbh

[2021-02-04 03:17] spotandjake commented on #103
Will look into it

[2021-02-04 03:17] alanlichen commented on #103
I also want to point out that the colors here are kinda too blue.
![image](https://user-images.githubusercontent.com/40917647/106840175-7750c480-6654-11eb-80fa-ef193ead4e5f.png)

[2021-02-04 03:18] alanlichen commented on #103
Agree with that 100%, ace runs with extreme lag on my iPad and monaco crashes. Soooo yeah

Also should i rename this to performance issues?

[2021-02-04 03:18] spotandjake commented on #103
I hid the color one as that is gonna be a theming thing

[2021-02-04 03:19] alanlichen commented on #103
Ok, I should also remove the color one from my issue lol

[2021-02-04 03:19] spotandjake commented on #103
Done,

[2021-02-04 03:20] CoolCoderSJ commented on #103
We are working on a much better theming platform.

[2021-02-04 03:23] alanlichen commented on #103
Yay
||but that kinda doesn't relate to the issue anymore||

[2021-02-04 03:47] CoolCoderSJ commented on #103
I know, I just thought I would let you know since you said the blue was too blue.

[2021-02-04 04:09] JDOG787 opened #104 "Popout windows"
If this a possible we could make popout windows which would be cool/helpful :P

[2021-02-04 04:12] JDOG787 commented on #98
Yea, i will probs help with parts of this

[2021-02-04 04:13] JDOG787 commented on #100
I would like to help with this too, bc this is why i got the app in the first place lol

[2021-02-04 04:13] #104 closed

[2021-02-04 04:43] CoolCoderSJ commented on #98
@JDOG787 if u want to help...do u know sqlite3?

i need a bit of help with that, other than that i dont think theres really much left...

[2021-02-04 14:39] DevAxl opened #105 "lag"
when I edit a repl, it lags alot

[2021-02-04 15:01] spotandjake opened #107 "Multiple repls at once, using tabs"

[2021-02-04 15:11] leon332157 commented on #105
See #103

[2021-02-04 15:11] leon332157 commented on #103
Please checkout `gulp-watch` branch as I have disabled the theme system and HW acceleration to see if that helps with performance.

[2021-02-04 15:29] frissyn commented on #105
This similar to (#103), go there.

[2021-02-04 15:29] #105 closed

[2021-02-04 15:30] frissyn commented on #107
@spotandjake

This is pretty redundant since we're also gonna add multi-window support. Couldn't you just open a new repl in a new win?

[2021-02-04 15:32] spotandjake commented on #107
Not really if you are using single monitor, the tabs really help that is main reason i stopped using the app tbh i think by multimonitor support we are more talking your logs on one page that sort of thing

[2021-02-04 16:01] alanlichen opened #109 "Bug: Copy pasting keybinds do not work"
When doing copy paste on windows, It does not work. Instead, it will move the cursor to the end of the program. In order to copy-paste, you have to right-click. This is only an issue with the electron version and not the web version.

[2021-02-04 16:01] alanlichen commented on #109
I may be able to include an image later

[2021-02-04 16:05] frissyn commented on #107
Ok sure

[2021-02-04 16:18] alanlichen commented on #109
I'm pretty sure this only happens with ace editor with javascript, but I am not 100% sure. I tested with python and I don't have this bug

[2021-02-04 16:32] alanlichen commented on #102
Will definitely be very useful. Could you make it like Roblox studio's thing where you can separate the parts with a double click, then you can drag them everywhere?

[2021-02-04 17:29] frissyn opened #110 "Downsize Dependencies"
The `npm i` command takes half a millennia to finish and I think there could be a lot of cutting down on the modules / dependencies tbh.

[2021-02-04 23:49] CoolCoderSJ commented on #98
- Seems like webpage is back up with db and api, for notes the API endpoint is

https://reflux-marketplace.coolcodersj.repl.co/api
This will return a list. The list has 1 dictionary for each verified theme.
Each dictionary has the following components -
[code]

[2021-02-05 01:45] spotandjake commented on #110
we should loop back to this but yes. as this will get better and worse as we go furthur

[2021-02-05 02:19] spotandjake commented on #109
it is not a bug it is because we use an ipad user agent i will look iff there is any way i can fix this.

[2021-02-05 03:14] spotandjake commented on #109
okay from what i can tell it is only ctrl + v that doesnt work  and this is not a bug with the app this is something that has been dissabled in the code again i will  see if i can find a work arround but i have not found a good one tonight lol.

[2021-02-05 03:18] #15 closed

[2021-02-05 03:27] JDOG787 commented on #102
Hey @spotandjake Leon said I could do this. Is that ok?

[2021-02-05 03:29] spotandjake commented on #102
totally just do you want to work on this one together also not to mention the fact that when we do this we should implement things like being able to close the vnc and open it again and all that as it should be pretty easy if we are already doing the console.

[2021-02-05 03:48] CoolCoderSJ commented on #98
we have run into a tiny problem while integrating this....due to default non-toggle-able CORS on webpy, we will either have to mix in express for the api, or switch to mongodb.

Id rather switch to mongo, if anyone with mongo experience wants to help with that.

[2021-02-05 05:12] JDOG787 commented on #109
I had this problem too

[2021-02-05 05:12] JDOG787 commented on #102
wdym by vnc @spotandjake?

[2021-02-05 05:13] spotandjake commented on #109
Yah you will it is part of the code lol for ace onreplit I will see if I can work arround it

[2021-02-05 05:13] spotandjake commented on #102
The graphics window

[2021-02-05 05:15] JDOG787 commented on #102
ah ok

[2021-02-05 23:04] #99 closed

[2021-02-06 15:55] frissyn commented on #100
Added a progress tracker on the Trello Board, got some stuff done yesterday.

https://trello.com/c/d7OWx4sH/4-update-discord-rpc

[2021-02-07 02:40] spotandjake commented on #100
You need to make the app not error when discord is not installed.

[2021-02-09 17:09] spotandjake opened #130 "make windows open on the preferenced monitor"
new windows do not open on the same monitor, needs to be fixed

┆Issue is synchronized with this [Trello card](https://trello.com/c/yZg672dm) by [Unito](https://www.unito.io/learn-more)

[2021-02-09 17:31] leon332157 commented on #103
Resolved

[2021-02-09 17:32] #103 closed

[2021-02-09 20:09] FunnyLamma commented on #130
Are you using windows?

[2021-02-09 20:14] FunnyLamma commented on #130
The issue is whenever a new window opens, it's always directed to the primary screen.

[2021-02-09 20:15] FunnyLamma commented on #130
I don't know how to make it open on a preferred monitor.

[2021-02-09 20:53] spotandjake commented on #130
yah lol i am gonna make the change i do not think it is that hard lol, was just posting it here so that i could remind myself.

[2021-02-09 21:44] FunnyLamma commented on #130
hmm, maybe im thinking of somthing else, were you talking about having repl launch on a specific monitor.

[2021-02-09 21:46] spotandjake commented on #130
i am talking about having the app launch open new windows on the same monitor as the opener and when you open the app it will open on the window it was last on if it still exists i got this one though, no need for you to do it.

[2021-02-09 22:04] FunnyLamma opened #131 "Repl.it Desktop Notifications"
I am going to work on Desktop notifications, and I would like some help.

[2021-02-10 15:34] CoolCoderSJ opened #134 "Reflux Marketplace API"
For the reflux marketplace, the db seems to be kind of broken right now. Will you guys put the light and dark mode separately, or should they also be in the api?

~~dont think i should've created an issue for this but my discord isn't working right now~~

┆Issue is synchronized with this [Trello card](https://trello.com/c/R2BIqmMB) by [Unito](https://www.unito.io/learn-more)

[2021-02-10 17:40] spotandjake commented on #134
they should be in the db at the end of the day as it makes it simplier i will probs integrate them else where not through reflux. but they should still be sent via the api

[2021-02-10 20:30] FunnyLamma commented on #131
I cant find how to send a notification through the app, I need help with this.

[2021-02-10 22:20] alanlichen commented on #109
Any updates?

[2021-02-11 12:53] CoolCoderSJ commented on #134
Ok, makes sense

[2021-02-11 12:53] #134 closed

[2021-02-11 15:18] DaMammoth opened #137 ""git" is not working in Windows."
I am trying to install the application, using the instructions listed in the description; but when I use the command "git" on the Node command prompt, I get Windows's `'git' is not recognized as an internal or external command,
operable program or batch file.` error message. What am I doing wrong?

┆Issue is synchronized with this [Trello card](https://trello.com/c/ufWWZgv7) by [Unito](https://www

[2021-02-11 15:19] leon332157 commented on #137
You need to either install git command line from https://git-scm.com or use GitHub Desktop: desktop.github.com

[2021-02-11 18:14] CoolCoderSJ commented on #137
Also note that the git commands are for experimental releases, and you may experience a ton of bugs. For a more stable release, click the releases tab on the right, and download the v2 installer.

[2021-02-11 18:59] FunnyLamma commented on #109
I'll check

[2021-02-11 19:00] spotandjake commented on #109
no it is not a bug it is the actual code we need to dissable it in the ace editor. frissyn is looking at plugins if they get that up and running we should be able to fix it properly

[2021-02-11 19:21] FunnyLamma commented on #109
oh ok, i keep working on the background process

[2021-02-12 03:53] whippingdot opened #138 "CSS Injector"
I use a CSS injector for making repl.it look nice. This isn't a web app, so I can't use the CSS Injector. Can you make an option for injecting your own CSS into the app? I would use @frissyn's Reflux, but that has a white page on the post pages. BTW the code for my injected CSS is this:
[code]

[2021-02-12 03:55] whippingdot commented on #138
Oh, and not related to this, is it possible for you guys to make this always running without me having to keep my terminal open to have the app running, like VS Code and other electron apps. It would be really helpful

[2021-02-12 03:56] spotandjake commented on #138
Will add that soon though I do not think it will be your own css but rather an editor or a reflux theme atm you can upload the to the marketplace but they have to get approved https://reflux-marketplace.coolcodersj.repl.co/ there is the url but I will add the some ui for the theme tmr for you

[2021-02-12 03:57] spotandjake commented on #138
I do not know exactly what you mean by that unfortunately unfortunately you will have to further explain

[2021-02-12 04:00] whippingdot commented on #138
Ok thanks, but i won't further explain, i decided to leave my VS Code open. Ok, now, about the reflux thing, I just realized that frissyn can put my CSS as a theme right? This is the same thing you said, but with her/him doing it and not me. i will try posting mine to the marketplace tho. @frissyn please accept it. Also this has foreground color, is it possible for you to add foreground color CSS

[2021-02-12 04:05] spotandjake commented on #138
Dont ping frissyn as it is not there market place but also you need to convert it to a reflux theme using the reflux lib in github if you wait a day though I should be able to do up a theme editor. And as to the vscode thing you are running the dev version of the app we have not packaged to a .exe with the new features yet we will probably put out a release shortly though. And for foreground color

[2021-02-12 04:10] whippingdot commented on #138
I am confused, which things work out of background, control, border, primary, and foreground? Also sorry for wasting ur time if these are silly questions.

Also WAIT you can download a .exe file? I didn't know that, well, I am happy with running a dev version. One q is that do I have to re-put npm start each time I want recent changes to take effect? I must pull and re-run, right?

[2021-02-12 04:14] whippingdot commented on #138
Also, I will use ur theme editor, but for now, if I do want to use this, i am going to waste my time trying to create a new theme 😁😁😁

[2021-02-12 04:27] whippingdot commented on #138
Hmmm make the editor @spotandjake. That would be more efficient, but I think I found out the foreground colors work. I don't know, but the theme I made using the CSS injector works with the bookmarklet. I am going to try and publish this to the marketplace. Thanks for all the help!!

[2021-02-12 04:40] spotandjake commented on #138
Ok lol my theme generator will just be a js port with some real time ui probs lol and some improved performance so yah.

[2021-02-12 04:40] whippingdot commented on #138
Uhhh @spotandjake you there? I am trying to publish my theme to the marketplace but it says internal server error. These are the things I am putting:
Username: Whippingdot
Theme Name: Full-Black-Theme
Description: A very black and dark theme. This is way darker than repl.it's dark theme!
Repl Link: https://repl.it/@Whippingdot/FULL-BLACK-THEME

[2021-02-12 04:42] spotandjake commented on #138
Yah the market place still needs some work again I will deal with that stuff tmr for noe you should dry jet black from the marketplace. Srry for the inconvenience

[2021-02-12 04:45] whippingdot commented on #138
Lul it is ok. ~~Also i just realized all famous replers are on this project so please add me even tho i won't do anything 😁😁~~

[2021-02-12 04:46] whippingdot commented on #138
Oh also i forgot the pic with my theme is:
![image](https://user-images.githubusercontent.com/64354499/107731226-6b7f9500-6d1b-11eb-9c00-0713f22589c9.png)

[2021-02-12 04:51] spotandjake commented on #138
Not famous replers helpers only as in helpers ok the discord server. And ok I will try to get the theme up for you tmr have a good night

[2021-02-12 05:06] whippingdot commented on #138
Umm bruh i live in a different time zone it is morning for me

[2021-02-12 05:06] whippingdot commented on #138
But you have a very nice night 😁

[2021-02-12 05:08] whippingdot commented on #138
I don't know what you mean ~~that sounds gibberish~~. Also, i don't have discord...'yet'! I am trying my best to convince my dad.

[2021-02-12 05:12] whippingdot commented on #131
Search online there must be a way. If you can't find it then SOMEONE PLEASE HELP HIM

[2021-02-12 05:13] spotandjake commented on #131
Okay pls don't I get emails for every notif. I am gonna help him with them though when I get a minute

[2021-02-12 05:16] whippingdot commented on #107
Wait we NEED THIS. Whenever I open in something in a new tab it takes me to a new window. I would like it if it had a design a little like Taskade (though their multi-tab thing looks horrible). This isn't major though, as I am ok with it opening in a new window (but I would prefer not to as I like having the minimum number of windows open possible)

[2021-02-12 05:18] whippingdot commented on #98
Close the issue guys

[2021-02-12 05:18] spotandjake commented on #107
Yes lol that is why it is here . But it is gonna require some major rework so I do not know how soon

[2021-02-12 05:19] whippingdot commented on #107
Eh i got the dev thing branch so i wud get the updates first. LES GOOO. I don't care how long it takes though as this seems REALLY complicated

[2021-02-12 05:19] spotandjake commented on #98
It is not done old you dont have to make comments on every single issue

[2021-02-12 05:21] whippingdot commented on #131
If you are talking about github i am really sorry for disturbing you, i will try not to comment from now on.

K cool. Also you guys stopped working on this proj a while back right. You just came back to it 8 days ago? Thanks. I hope you guys continue working on this. IT IS AWESOME SOO FAR.

[2021-02-12 05:22] whippingdot commented on #98
ok sorry 😭 😭. Also you moved this from in-progress to done...

[2021-02-12 05:25] spotandjake commented on #131
Yes we did just come back to it. And I am only saying you do no need to comment on every single one because some of us get emails and some of the comments are just unneeded

[2021-02-12 05:39] whippingdot commented on #107
Oops sorry @spotandjake but this has to be reported. When you open the link in a new window it doesn't use the same theme too. It just has the default dark theme/light theme of repl.it.

[2021-02-12 05:41] spotandjake commented on #107
I will have to do some more testing dev isn't done though so it is prerelease expect bugs if you are using. It

[2021-02-12 05:44] whippingdot commented on #107
I know i am just reporting the issue

[2021-02-12 14:26] CoolCoderSJ commented on #138
@whippingdot I manage Reflux Marketplace, but it seems like my repl.it isn't working right now, Ill check it later..

[2021-02-12 15:04] whippingdot commented on #138
Yup lemme try again

P.S. sry for the late response.

[2021-02-12 15:06] whippingdot commented on #138
Hey it still is broken. It still gives the same internal error message. Do i have to login or smthing...

[2021-02-12 15:07] whippingdot commented on #138
@CoolCoderSJ I put the same things [as mentioned above](https://github.com/replit-discord/repl-it-electron/issues/138#issuecomment-777965610). I also added the same pic...

[2021-02-12 15:24] frissyn commented on #138
@whippingdot I've updated Reflux to work for most of Repl.it (including post pages) in the most recent version, which came out like a week ago... :|

[2021-02-12 16:15] CoolCoderSJ commented on #138
@whippingdot fixed the error now, please try again

~~don’t u just love when code breaks without touching it~~

[2021-02-12 16:16] CoolCoderSJ commented on #138
I am neither famous :(

Nor am I a helper on the server

[2021-02-12 16:17] CoolCoderSJ commented on #138
Login is for admins only...

[2021-02-12 16:17] CoolCoderSJ commented on #138
Login is for admins only...

[2021-02-13 05:23] whippingdot commented on #138
lul don't be heartbroken if you make these good programs you ought to share them. If you share them you would get a lot of attention on repl talk, just saying.

[2021-02-13 05:25] whippingdot commented on #138
YAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA WHY CAN'T SOMEONE JUST ADD MY THEME MANUALLY PUH LEASE THE MARKETPLACE IS BROKEN GRRRRRRRRRRRAAAAAAAAAAAAAAAAAAAAAAAAAAAA @CoolCoderSJ @spotandjake @frissyn YAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA

[2021-02-14 05:53] whippingdot commented on #138
Hey imma switch to the reflux-dev branch if that is ok with you @spotandjake

[2021-02-14 05:54] spotandjake commented on #138
You can use any branch you want but anything dev is not finished yet and bound to have issues.

[2021-02-14 05:57] whippingdot commented on #138
Lul ok. But reflux-dev is more advanced right

[2021-02-14 05:59] spotandjake commented on #138
Currently know as I do not push unfinished features very often and have not finished any features in it yet

[2021-02-14 05:59] whippingdot commented on #138
Oh...then back to dev 😁

[2021-02-14 06:02] whippingdot commented on #138
Oh also everything works properly but there is an error that you ought to fix. I don't know why that error comes but just reporting it. I know the dev branch is supposed to have broken stuff but I just want to show you something that is broken:
![image](https://user-images.githubusercontent.com/64354499/107869819-45432c00-6eb8-11eb-8feb-4a40e11987f7.png)

[2021-02-14 06:07] whippingdot commented on #138
oh wait i just understood this. I know it works on post pages and everything now...I created my own theme again but with foreground colors and everything. It seems all right to me. [Check the repo out here](https://github.com/whippingdot/FULL-BLACK-THEME)

[2021-02-15 00:04] leon332157 opened #139 "Use file extension for language icons"
Use file extension matching for discord language icon in RPC.

[2021-02-15 03:14] leon332157 commented on #138
@whippingdot Make sure you join the (replit discord)[https://repl.it/discord) so our members can help you with the app.

[2021-02-15 03:47] #100 closed

[2021-02-15 03:49] whippingdot commented on #138
oh, sorry I don't have discord. I am trying to convince my dad but so far, I haven't been able to. That is why I can only write my issues here.

[2021-02-15 04:59] leon332157 commented on #138
It's probably because you are still underage, which means you can't use discord yet. Meanwhile I suggest you wait for our development to progress until you can use discord, then if you want to contribute I can add you.

[2021-02-15 05:06] whippingdot commented on #138
No not like that, my dad just doesn't want me to use Discord. He says it isn't for kids and it isn't safe and stuff like that. I just sent him and email trying to convince him. I don't want to use it without him letting me to (which he hasn't been doing)

[2021-02-15 05:17] leon332157 commented on #138
You can tell him you are going to use it only for repl.it

[2021-02-15 05:29] whippingdot commented on #138
That would make him more suspicious, I think. He wouldn't want me chatting with random people online. Luckily, some of my friends want me to use discord so I could use that as an excuse.

[2021-02-15 05:30] whippingdot commented on #138
Also, I mailed my dad today itself trying to convince him (a lot of articles). He might let me - tho very unlikely.

[2021-02-15 08:55] whippingdot commented on #138
Hey @spotandjake ima try out the changes with the theme maker. Thanks btw

[2021-02-16 06:23] whippingdot commented on #138
hey @CoolCoderSJ or whoever added my theme to the marketplace thanks! I really appreciate it 😄. Thanks for using your time to add it 😅

[2021-02-16 06:39] whippingdot commented on #138
Guys in the dev branch if you press help there is an 'About Repl.it' selection item, which if you press this appears:
![image](https://user-images.githubusercontent.com/64354499/108027213-d00a5f00-704f-11eb-8502-22600aadb622.png)

[2021-02-16 16:33] leon332157 commented on #138
I don’t see a problem here.    From: Sanjaay R.Sent: Tuesday, February 16, 2021 01:39To: replit-discord/repl-it-electronCc: leon332157; CommentSubject: Re: [replit-discord/repl-it-electron] CSS Injector (#138) Guys in the dev branch if you press help there is an 'About Repl.it' selection item, which if you press this appears:—You are receiving this because you commented.Reply to this email directl

[2021-02-16 16:37] frissyn commented on #138
@whippingdot please just open a new issue and put all your comments and concerns there, getting a notif about something completely unrelated to the linked issue is weird 👍🏽

[2021-02-16 16:39] spotandjake commented on #138
that is not an issue i dont think lol just unfinished feature you good to leave it atm

[2021-02-16 16:43] frissyn commented on #138
**sigh**...

[2021-02-17 07:46] whippingdot opened #140 "Theme not shown"
The theme is not shown if you open something in a new window. The theme that is there instead is the theme repl.it has assigned you or the theme you had originally without the reflux being activated. By new window I mean if you hold control and click on one of the links it opens in a new window and there, there is no active reflux theme being used. I hope this can get fixed soon.

Not related to t

[2021-02-17 20:20] FunnyLamma opened #141 "Themes"
While using the gray theme, some labels and highlights on the main screen don't appear. For example under where it says create, the labels for like js and python don't appear.

[2021-02-17 20:24] #141 closed

[2021-02-18 05:58] leon332157 commented on #137
Closed for inactivity.

[2021-02-18 05:58] #137 closed

[2021-02-19 02:44] spotandjake commented on #140
Fixed the theme issue, it was a rather simple oversight. we will add a custom setting area but that requires a bit of a change so i do not know if it will make it into this version. i am closing this issue as well.

[2021-02-19 02:46] whippingdot commented on #140
Thanks, i can close the issue cause the main reason I opened it was for the bug you fixed. The other thing is not a major one. Add this as a not on the ROADMAP tho

[2021-02-19 02:46] #140 closed

[2021-02-19 02:49] #98 closed

[2021-02-19 02:49] #102 closed

[2021-02-20 03:08] spotandjake commented on #139
i can do this in probs a few minutes when you ready maybe longer if the image mapping is giving me trouble

[2021-02-20 03:09] #138 closed

[2021-02-20 03:09] spotandjake commented on #138
issue closed because a theme editor was added

[2021-02-20 03:10] spotandjake commented on #110
removed lodash from procution completly it is still used in dev build by eslint and gulp though

[2021-02-20 03:11] spotandjake commented on #97
i feel like we should just rewrite the auto updator tbh it looks rather complex for a rather simple task, up to you though.

[2021-02-20 03:12] spotandjake opened #143 "Organize Files"
Seperate any production script like the actual app and things like the logo fetcher and things of this type.

[2021-02-20 03:14] spotandjake commented on #109
we probably wont fix this for a little while maybe v4 but probs not v3. as it requires a lot of reading through code.

[2021-02-20 04:56] #110 closed

[2021-02-20 22:55] JDJGInc commented on #107
I think having multiple tab support and multi window support would be useful.

[2021-02-23 23:32] spotandjake commented on #109
Fixed in V3.0.0 just got to wait for push more shortcuts will probs be introduced after release

[2021-02-23 23:38] spotandjake opened #148 "General Fixes"
Ace Stopped Being loaded when you open the window and it is enabled. you have to turn it off and on again each time.

Stop Launcher from displaying in the watch build as it rate limited itself.

Convert Settings into a map.

Add more Keybinds To Ace Editor In Ace_Fix.js preload

Make a good Text for the Other peoples repls view.

**May just be me but i Close btn was not working at least in `npm st

[2021-02-23 23:39] spotandjake commented on #148
Leon was hoping you could do the Updator Changes. i can work on the ace issue and fix settings. and jdog if you want you can find which keybinds are missing and add them in you can also work on the ace or make good repl view, or fixing settings up to you.

[2021-02-23 23:39] #109 closed

[2021-02-23 23:40] #143 closed

[2021-02-23 23:41] spotandjake commented on #131
Can look into this, this isnt really a priority though atm so we can work on this one lazily.

[2021-02-23 23:43] spotandjake commented on #107
Yah we want to do this the issue is working with ui in a reliable way is a little tricky. we may push this to v4 though so hopefully it makes it into v3.

[2021-02-23 23:46] spotandjake opened #149 "add ability to switch the lexer used in the syntax highlighting seperate from file extension"
Frissyn can you implement this it does not need to be ace compatible for the time being. this should be fairly easy to implement through the monaco api you found the other day. and you can add the area to modify it too the theme editor i added. along with this could be added to reflux scripts as well.

[2021-02-23 23:48] spotandjake opened #150 "Add filters for sorting repls"
Ability to Sort Repls By Filters. Such as Always On, Size, Running anything we can really.

[2021-02-23 23:49] Codemonkey51 commented on #150
Hi, one problem. Right now I don't think there is a graphql query that can do this, but I will research more.

[2021-02-23 23:50] spotandjake commented on #150
I do not know if you need graphql will look into this too. we can do it i know that much and it certainly would be convienent

[2021-02-23 23:51] Codemonkey51 commented on #150
How else do I get search repl data then ._.

[2021-02-23 23:57] FunnyLamma opened #151 "add ability for custom file icons"

[2021-02-24 00:51] #139 closed

[2021-02-24 01:06] frissyn commented on #149
Yeah, I've been experimenting with the monaco API that repl.it uses and I could probably get smth like this working. Problem is, the editor doesn't reload unless it's been changed by an action dispatched on the store, and I don't know what this action is.

It's on my to-do list @spotandjake

[2021-02-24 12:57] thecoder876 opened #152 "RPC doesn't update"
**Describe the bug**
The RPC doesn't update when you open a repl. I've tried both the alpha and stable versions, but neither of them seem to work.

**To Reproduce**
Steps to reproduce the behavior:

1. Open the app and Discord
2. Open a repl
3. See the error in Discord status

**Expected behavior**
The RPC should have displayed the repl name and langauge.

**Screenshots**
![Screenshot 1](https://u

[2021-02-24 13:16] frissyn commented on #152
@leon332157 @spotandjake Could y'all stop messing with my hard work? I got it working just fine in my `frissyn-rpc` branch and you guys goofed it. Imma fix it this weekend using VSC file detection **first**, Repl language detection **second**, and after that, y'all are on your own. >:(

[2021-02-24 13:17] spotandjake commented on #152
It is working just fine I tested it yesterday for a few hours I get the feeling it just isn't working in alpha but should be working in dev

[2021-02-24 13:27] whippingdot commented on #152
Hey the dev branch doesn't work at all...Just get an error

[2021-02-24 13:29] CoolCoderSJ commented on #152
@whippingdot If it doesn't work for you please create a new issue unless it is related to the Discord RPC.

[2021-02-24 13:41] whippingdot commented on #152
Cause of tis but k
![image](https://user-images.githubusercontent.com/64354499/109009042-0d1bc480-76d4-11eb-9748-d668dd4663bd.png)

[2021-02-24 13:52] leon332157 commented on #152
@whippingdot It doesn't work because you don't have discord installed most likely. RPC requires the discord desktop client.

[2021-02-24 14:29] spotandjake commented on #152
May you test my dev branch as well as most issues related to rpc should be fixed.

[2021-02-25 10:07] thecoder876 commented on #152
@spotandjake ok

[2021-02-25 15:01] spotandjake commented on #149
If you send me the code to change it i will try to get it too reload.

[2021-02-25 15:41] spotandjake commented on #148
Fixed Ace Loading Issue,
Converted Settings Style,

Still Need To:

Add More Ace Keybinds
Stop The Launcher When Using `npm run watch` to avoid rate limiting,
Make A good Rpc Text For Viewing Other Peoples Repls.

[2021-02-25 15:41] spotandjake commented on #152
May you let me know if using my branch Fixed the issue.

[2021-02-25 15:46] spotandjake commented on #148
Fixed Rate Limiting Issue Leon Forgot A Return

[2021-02-25 15:53] spotandjake commented on #148
Done All Of The Above.

[2021-02-25 15:53] #148 closed

[2021-02-25 16:20] spotandjake commented on #151
# Ideas On How To Implement

1. Add To Preload
2. If Page Is your Editing Repl
3. querySelectorAll with class .jsx-2487264214
4. For Each
5. Regex Match on innertext according to user inputted matches.
6. if match insert node
[code]
but change the svg and done.

[2021-02-25 16:25] #152 closed

[2021-02-25 17:00] spotandjake commented on #131
Moving this to next Version do to low importance

[2021-02-25 19:14] FunnyLamma opened #153 "Add Code snippet bar"

[2021-02-26 14:40] hackermondev commented on #130
should be fixed in the pull request, waiting for @leon332157 to approve so I can merge.

[2021-02-26 14:42] spotandjake commented on #153
I dont know if this is good here i am thinking we need webview for this that way we dont mess up repls ui tbh

[2021-02-26 14:42] spotandjake commented on #153
though i will check as i just had an idea of how to protect agaist it, later though probs

[2021-02-26 14:43] spotandjake commented on #130
not gonna close this as multimonitor setups we want windows to open on the same screen as the main monitor still. which doesnt look to be considered here

[2021-02-26 14:51] spotandjake commented on #97
Hey leon can you work on this one. Ive been leaving the updater stuff to you as tbh i dont completly understand it lol.

[2021-02-26 23:54] cursorweb opened #163 "New option: Reset settings"
Currently clearing all cookies only work for replit-made cookies. Not any preference we have made using the app.

It would be nice just to reset all the options in case you make a mistake.

[2021-02-26 23:55] spotandjake commented on #163
Eh don't think it is needed just yet, maybe v4 if we add more stm you can just get defaults within like 3 btns it so

[2021-02-27 01:26] cursorweb commented on #163
still, when it gets more extensible, this will be very useful

[2021-02-27 19:06] leon332157 opened #164 "GitHub Oauth is broken while on mobile view"
The OAuth doesn't seem to trigger window.opener.postMessage thus breaking the OAuth workflow.

[2021-02-27 22:18] spotandjake commented on #164
Can look into Monday

[2021-03-01 17:03] cursorweb commented on #163
Resolved from #165

[2021-03-01 17:03] #163 closed

[2021-03-01 19:40] spotandjake commented on #164
Think i fixed this just got to create a pr.

[2021-03-02 04:22] leon332157 commented on #164
Now also broken on desktop.

[2021-03-02 04:36] leon332157 commented on #164
Update: fixed after resetting userData

[2021-03-03 14:38] #164 closed

[2021-03-03 18:56] cursorweb commented on #153
what is a code snippet bar

[2021-03-03 19:02] spotandjake commented on #153
Rather simple but very handy here is an example from i know i know it is bad but scratch as scratch ddoes have some nice ui and does make programming rather easy and social
![image](https://user-images.githubusercontent.com/40705786/109857708-fb34a700-7c28-11eb-921d-4db1d3725705.png) that is what i am talking about and it can be accesed from any repl you are in drag code in and out so u can bassic

[2021-03-03 19:03] cursorweb commented on #153
is that really useful though?

For beginners, maybe, but in my opinion it would be easier to just write it out than drag and drop

[2021-03-03 19:04] cursorweb commented on #149
would you even be able to access the editor instance?

[2021-03-03 19:09] cursorweb opened #171 "Configure default page load"
Imagine the unlimited power we would have if we could go back to the last place URL we went to...

productivity++ or productivity--?

[2021-03-03 19:09] spotandjake commented on #171
Are you meaning persistance across reload or like just a back button lol

[2021-03-03 19:10] cursorweb commented on #171
persistence across each 'session'

[2021-03-03 19:10] spotandjake commented on #171
gotcha yah been debating this.

[2021-03-03 19:12] cursorweb commented on #153
oh heck yeah

[2021-03-04 16:46] EliteHaxy opened #172 "Add better titles for Discord RPC"
It would be cool if it was kinda like the VS code extension. It would say repl.it, then editing (file) then (the file type) and etc. Right now my RPC just says repl.it/login.

Thanks!

[2021-03-04 16:48] EliteHaxy commented on #172
Edit: This may be a bug as I see other screenshots where it works like this. Is it because I'm on 3.0.0?

[2021-03-04 16:48] leon332157 commented on #172
Are you using the alpha?

[2021-03-04 16:56] EliteHaxy commented on #172
Yes I am. And I tried downloading 2.1.0 but whenever I logged in with google, it said this device is unauthorized.

[2021-03-04 16:57] leon332157 commented on #172
The RPC in alpha1 is broken, I'll probably release another version today with more bug fixes. You can use the development version before I release a new alpha.

[2021-03-04 16:58] EliteHaxy commented on #172
Ok where is the development version? As in 2.1.0 I can't log in with google. Also how can I disable notifications?

[2021-03-04 17:04] leon332157 commented on #172
You can clone the GitHub repo and run it with instructions in the README

[2021-03-04 17:06] EliteHaxy commented on #172
Ok ill see

[2021-03-04 19:51] leon332157 commented on #172
try out the new version i just released.

[2021-03-04 20:48] EliteHaxy commented on #172
Ok

[2021-03-04 21:00] EliteHaxy commented on #172
Nope everytime I login with google it syas redirecting forever

[2021-03-04 21:36] leon332157 commented on #172
Can you send a screenshot

[2021-03-04 22:19] frissyn commented on #149
Yeah, we've already got examples that get the instance from the window: `window.monaco.editor`.

[2021-03-04 22:53] spotandjake commented on #149
Yes alternatively I think we could replace the editor isntqnce with a custom instance or use a remap to a custom replenvironment script that could open it  #all.

[2021-03-04 23:23] leon332157 commented on #172
Update: I have identified the issues and is implementing a fix. @EliteHaxy In the mean time, you should go to the login window, click in the menu Window > Go To Home

[2021-03-06 21:49] EliteHaxy commented on #172
Ok ty

[2021-03-06 21:51] EliteHaxy commented on #172
Also would you like me to be a tester for it?

[2021-03-06 23:05] leon332157 commented on #172
Sure, I think we need for testers, to if you find someone else whos also interested, make sure you tell them about it.

[2021-03-10 16:26] EliteHaxy commented on #172
Sure. I found an issue not sure, but it doesn't say the file name it just shows the url
![image](https://user-images.githubusercontent.com/67123306/110662434-1fddd100-818b-11eb-8dd3-6b28f752b05d.png)

[2021-03-10 16:28] EliteHaxy commented on #172
It also has random lag spikes

[2021-03-10 16:41] leon332157 commented on #172
Where are you pasting into?

[2021-03-10 17:26] leon332157 commented on #172
Fixed.

[2021-03-10 17:53] leon332157 commented on #172
@EliteHaxy try using alpha6, a lot of issues has been fixed.

[2021-03-10 18:23] sorenrood commented on #172
Going to try this out sometime today. 👍🏻

[2021-03-10 19:53] sorenrood opened #173 "Incorrect Installation Instructions in readme.md"
### The git link in the `Dev Installation & Usage` section does not work. This is (probably) because the organization name was changed from `repl-it-discord` to `replit-discord`.

![image](https://user-images.githubusercontent.com/49735495/110688423-6a187f80-8196-11eb-9ffd-b18521313b0b.png)

**This is the error when you copy-paste what's currently in step 1:**

![image](https://user-images.githubu

[2021-03-10 19:54] sorenrood commented on #173
I tried to fix it myself, but I don't have the perms to make branches or make PRs.

[2021-03-10 19:54] spotandjake commented on #173
thanks will fix

[2021-03-10 21:31] leon332157 commented on #173
Fixed.

[2021-03-10 21:31] #173 closed

[2021-03-10 21:40] sorenrood commented on #173
:fire:

[2021-03-11 13:17] EliteHaxy commented on #172
Ok will do

[2021-03-11 13:20] EliteHaxy commented on #172
In alpha 6 there is a google login issue...

[2021-03-11 14:44] leon332157 commented on #172
@EliteHaxy Fixed in the latest commit. Also, do you have the issue where every time u restart the app you need to login again?

[2021-03-11 14:50] EliteHaxy commented on #172
Yes I do need to login every time. Is the latest release have the google login fix?

[2021-03-11 18:06] leon332157 commented on #172
@EliteHaxy I released https://github.com/replit-discord/replit-desktop/releases/tag/3.0.0-alpha.7
Can you make sure to delete ```C:\\Users\<username>\.replit``` before you test since that could be related to the logout issue.

[2021-03-11 20:06] EliteHaxy commented on #172
Ok I will test this out right now!

[2021-03-11 20:09] EliteHaxy commented on #172
First issue, when you open the app, all the page windows aren't centered.
 Love the new google login.

Everything else is fine! RPC and everything!

[2021-03-11 20:23] EliteHaxy commented on #172
If you leave the application open for a couple minutes it lags and says not responding. If you fix that lag issue, this will be perfect!

[2021-03-12 00:04] EliteHaxy commented on #172
Also when you close the application, then reopen it it logs you out of google.

[2021-03-12 00:20] leon332157 commented on #172
It's designed to do it because we had issues before if oauth pages don't get logged out, but I can remove that.

[2021-03-12 01:43] leon332157 commented on #172
fixed in latest verison.

[2021-03-12 17:15] zplusfour opened #174 "Env icon is hidden."
when you go to the buttons bar, you'll see that the environment variables icon is hidden, but it works on replit.com (browser not desktop)

**Screenshots**
![image](https://user-images.githubusercontent.com/73612690/110974437-32146680-8367-11eb-8c1b-3c5adc1c1333.png)

**Desktop (please complete the following information):**
 - OS: Windows
 - Browser: Chrome
 - Version: 88

[2021-03-12 23:52] leon332157 commented on #172
@EliteHaxy Can you test the beta version, logout issue should be fixed.

[2021-03-13 02:04] EliteHaxy commented on #172
Sure will do!

[2021-03-13 02:11] EliteHaxy commented on #172
Yay! I stay logged in when I exit and reopen.

But an issue has arose...

After downloading the .exe file, it automatically opens the repl login page like its supposed to. I then pinned my repl home page. Then after I exit to test the google login, it says the shortcut has been removed or etc. So basically you need to pin the exe you download and not the window it opens (for the first time after d

[2021-03-13 03:51] leon332157 commented on #172
The auto updater will come when it's stable. And I'm aware there's a lot of issues with portable build, so I'm just going to remove it. But at the same time, I'll also add a auto-update into testing versions, so it saves you some time.

[2021-03-13 20:06] EliteHaxy commented on #172
Sure

[2021-03-15 11:04] tylerveen opened #175 "999"
Describe the bug
A clear and concise description of what the bug `is.`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See an error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the follow

[2021-03-15 12:18] leon332157 commented on #175
Closed as spam

[2021-03-15 12:18] #175 closed

[2021-03-22 19:27] FunnyLamma commented on #151
Should this be pushed to 4.0

[2021-04-05 04:12] EliteHaxy commented on #172
Any updates?

[2021-04-05 04:18] leon332157 commented on #172
Nothing much, I'm working on another project which should replace this one. https://github.com/leon332157/replish

[2021-04-05 04:20] whippingdot commented on #172
I don't understand that project ~~can you give a more clear description for bots and noobs like me~~

[2021-04-05 04:58] leon332157 commented on #172
It's should allow you to edit code on replit with VSCode and without the need for crosis. So instead of syncing the code, I can turn a repl into a virtual machine to code.

[2021-04-05 05:33] whippingdot commented on #172
ok i kinda understood that. The only thing is - doesn't replit already have there own extension to run repls on vs code? I know it is for mods only unless you ask for permission, but still...

[2021-04-05 16:12] spotandjake commented on #174
I am not seeing this issue on my copy can you check if there is anything in dev tools console

[2021-04-05 16:24] spotandjake commented on #172
this is a lot different the other one runs on crosis which you had to get a key to use. not to mention crosis has been discontinued  with no immideaate plans on being continued in the future. i am also closing this issue as it has gotten off topic and the initial issue looks to have been fixed.

[2021-04-05 16:24] #172 closed

[2021-04-10 23:44] ch1ck3n-byte commented on #174
i see it.

[2021-04-20 02:33] #174 closed

[2021-04-20 02:33] leon332157 commented on #174
Closed as inactivity

[2021-04-20 02:38] leon332157 opened #177 "Multiplayer button in rpc"
[example code](https://github.com/iCrawl/discord-vscode/blob/f0aafb93979ec63527d06c886d4ad3f3f0f9dcbd/src/activity.ts#L89)

Basically adds a button which allows people to join a multiplayer, or a view repl button, like the new button in vscode rpc.

[2021-04-22 05:41] leon332157 commented on #177
finished in latest version

[2021-04-22 05:41] #177 closed

[2021-05-13 14:52] rxchiie commented on #131
you have probably figured out, but here is a documentation on how to send notifications from electron: https://www.electronjs.org/docs/tutorial/notifications

[2021-05-13 17:35] spotandjake commented on #131
Yes we have that part down it is more the parat of watching for notifs from replit

[2021-05-14 05:43] Codemonkey51 commented on #131
They added graphql_subscriptions some time ago, you can prob use chrome network tab to find the exact query, but then it will like send a message through that websocket on every new notification.

[2021-05-14 05:44] Codemonkey51 commented on #131
Oops, forgot one part, I belive it will only tell you how many new unread notifs or something like you have a new notif, you would still have to fetch the whole notif's data tho.

[2021-05-14 13:16] spotandjake commented on #131
yes lol we know how to do it it i just meant that is what they were referring too when hey said we need to figure it out.

[2021-05-14 14:53] NpGamingBoy opened #180 "32 bit support??"
Will there be a support for 32 bit pc(s) in the future?? The answer is probably no but still wanted to ask.

[2021-05-15 05:14] leon332157 commented on #180
32bit for Linux is definitely a no, since electron and node doesn't support that. 32bit on windows is possible however.

[2021-05-15 06:07] leon332157 commented on #171
c1bec77220a03e5200e12134ceb082de4829f16f

[2021-07-01 07:40] AestraDev opened #186 "Replit-desktop-bug"
**Describe the bug**

Launching windows stuck bug

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'application'
2. Click on 'open'
3. It will stuck on launching screen

**Expected behavior**

I expected it to open faster

**Screenshots**

![image](https://user-images.githubusercontent.com/71583327/124085185-63778600-da6d-11eb-9ea1-0d6525a53205.png)

**Desktop (please complete the foll

[2021-07-01 16:01] leon332157 commented on #186
Windows 7 is not supported by electron. Also, please launch the exe with cmd to see if there's an error message in the console.

[2021-07-01 16:17] AestraDev commented on #186
I have doubt, if it was not supported in windows 7 then why he started on first time and when I quit the application it doing this

[2021-07-01 16:20] leon332157 commented on #186
Can you use cmd to launch replit.exe and check if theres any error in the console?

[2021-07-01 16:22] AestraDev commented on #186
I can't now but whenever I will I will post an screen shot

[2021-07-02 15:08] AestraDev commented on #186
Hey Leon can you tell me how can I open it with cmd I am bit confused about it..

[2021-07-02 17:21] leon332157 commented on #186
open cmd, `cd` into the download directory and run "Replit Desktop.exe" or whatever the exe name is

[2021-07-03 06:16] AestraDev commented on #186
![image](https://user-images.githubusercontent.com/71583327/124345013-b1b69180-dbf3-11eb-9e96-543f05aeb934.png)
Here it doesn't get any error in console but I want you to know one more thing that when i turn off my internet connection it work fine like it load that offline.html file and when i turn it on and click on "Go Online" or whatever it work fine means the problem is in that checking update

[2021-07-03 06:24] leon332157 commented on #186
If you are getting certificate errors there's most likely problems with your windows or internet configuration,

[2021-07-03 08:46] AestraDev commented on #186
Can you tell me how I can fix it

[2021-07-03 15:53] leon332157 commented on #186
If you want to join the discord server I can help you find the problem and attempt to fix it.

[2021-07-04 05:29] AestraDev commented on #186
yeah thay will be more helpful to me can i get the link please

[2021-07-04 05:46] leon332157 commented on #186
Replit.com/discord

[2021-07-04 05:47] AestraDev commented on #186
Oh i am already there can you give me your tag and username

[2021-07-04 05:56] AestraDev commented on #186
Oh i got it messaging you there thanks

[2021-07-04 05:56] #186 closed

[2021-07-11 07:01] DMacMakes opened #187 "Upload folder loses structure, prepends windows path to all file names."
**Describe the bug**
On the windows desktop app: "Upload folder" correctly uploads files, but places them all in the project directory with new names that include their entire windows filesystem path.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a repl.
2. If the files browser/pane isn't visible, click the _files_ icon.
3. Click the 3 dots menu (top right of files pane), then on _Upl

[2021-07-11 07:06] DMacMakes commented on #187
Note this was with the "beta3.exe" download, vs "beta5-win.zip".

PS: I hadn't anticipated a difference except perhaps the win zip would contain source? I haven't seen this portable single exe that unpacks itself each time (?) before - I'll try the win.zip version next.

[2021-07-14 20:27] SkullCracker226 commented on #180
No it doesn't support 32 bit.

[2021-09-01 14:30] WatermelonSalt opened #188 "Portable mode?"
**The Question:**

Hello, I don't really know if this is the correct sub-issue classification to ask this but this issue is more of a question than a feature, if you look at it like that. Getting to the point, this issue is about a `Portable` mode in Windows OS. Refer to the *Additional Context* section if you wish to know what I exactly mean by a `Portable` mode.

**The Bridge:**

I don't know if

[2021-09-02 18:39] leon332157 commented on #188
There’s no code to accommodate for custom location of settings file, if that is what you are asking. Because of that, portable here only means a self-extracting exe that doesn’t require install.

[2021-09-02 18:42] leon332157 commented on #188
The reason I included a single exe release is that it makes distributing and testing easier, and since most if not all users of this app will not be switching between computers or installing the app to a flash drive, there was no need to make this app “portable”.

[2021-09-08 10:41] WatermelonSalt commented on #188
Oh, hey! I'm glad that you read my issue and commented on it. Yeah, I was expecting that there would be a way to store the settings in a different folder next to the root. I'll find a way to "portableize" it myself. Thanks. Looking forward to future releases. Keep up the good work!

[2021-09-08 10:41] #188 closed

[2021-09-11 12:31] programmeruser2 opened #189 "Archive this repo"

[2021-09-12 20:40] #189 closed

[2021-09-19 14:58] codergautam opened #190 "Mac M1 Build!"
The latest build didnt work for me with M1 Mac (same issue as #185 )

I built the project on my m1 mac (no code changes) and I am able to run the app without issues.

Here is a download link: https://drive.google.com/file/d/1mTz57gTarITmN02TV-EBSL_LzJH6qmuw/view?usp=sharing

Hope this helps

[2021-09-20 01:30] leon332157 commented on #190
Thank you, I'll upload it.

[2021-09-20 01:30] #190 closed

[2021-10-18 04:06] BobuxMan101 opened #193 "Themes not working"
**Describe the bug**
The themes are not working. I tried to click them but nothing happens.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'App'
2. Click on 'Themes'
3. Press down to 'Choose a theme'
4. Click on any theme
5. See an error

**Expected behavior**
It is supposed to apply the theme.

**Screenshots**
None

**Desktop (please complete the following information):**
 - OS: [Win

[2022-01-13 03:12] TotalHotDog opened #194 "Problem signing in with Google"
This browser or app may not be secure.
Try using a different browser. If you’re already using a supported browser, you can try again to sign in.

[2022-02-10 00:36] Dhope360 opened #197 "Replit"